@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&family=Young+Serif&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.heading,
.promo--price {
  font-family: "Fraunces", serif;
  font-weight: 700;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: hsl(30, 38%, 92%);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.wrapper {
  margin: 20px;
  width: 270px;
  display: flex;
  flex-direction: column;
  background: hsl(0, 0%, 100%);
  /* align-items: center; */
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  /* position: relative; */

  /* border: solid; */
}
.image {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
/* .imgContainer {
  border-radius: 20px;
  width: 100%;
} */
.btn {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: hsl(158, 36%, 37%);
  border-radius: 5px;
  width: 100%;
  height: 30px;
  border: none;
  font-weight: 700;
}

.heading {
  font-size: 25px;
  color: hsl(212, 21%, 14%);

  /* padding: 10px; */
}

.lbl {
  /* padding: 10px; */
  letter-spacing: 0.3rem;
  font-size: 12px;
  text-transform: uppercase;
}

.parag {
  font-size: 13px;
}
#div2 {
  display: flex;
  font-size: 14px;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 15px;
}

.lbl,
.parag {
  color: hsl(228, 12%, 48%);
}
.price {
  display: flex;
  align-items: center;
  gap: 10px;
}

.promo--price {
  color: hsl(158, 36%, 37%);
  font-weight: bold;
  font-size: 25px;
}

.real--price {
  text-decoration: line-through;
  color: hsl(228, 12%, 48%);
}

@media screen and (min-width: 804px) {
  .wrapper {
    flex-direction: row;
    /* flex: 1; */
    width: 50%;
    max-width: 50%;
    justify-content: unset;
  }

  #div2 {
    padding: 20px;
  }

  .image {
    width: 50%;
    flex: 1;
    height: auto;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0;
    object-fit: cover;
  }
}
